# US Software Engineers Analysis with Pandas

In [2]:
# we start by importing all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# we read the csv and print the first 5 rows
df = pd.read_csv('data.csv')
df.head()

,title,company,salary,rating,review_count,types,location,relative_time,hires_needed,hires_needed_exact,...,indeed_applyable,ad_id,remote_location,source_id,hiring_event_job,indeed_apply_enabled,job_location_postal,company_overview_link,activity_date,location_extras
0,Android Developer,Shockoe,NaN,0.0,0,Full-time,"Richmond, VA",30+ days ago,NaN,NaN,...,False,NaN,False,11706594,False,False,NaN,NaN,NaN,NaN
1,Web Developer,"Denios, Inc.","$45,000 - $55,000 a year",0.0,0,Full-time,"Louisville, KY",30+ days ago,ONE,1,...,True,370154371.0,False,11468052,False,True,40219.0,NaN,Active 2 days ago,NaN
2,Sr. Android Developer,The Cervantes Group,NaN,4.1,22,Full-time,Remote,6 days ago,TWO_FOUR,2,...,True,NaN,False,9570478,False,True,NaN,/cmp/The-Cervantes-Group,Active 3 days ago,NaN
3,Junior Software Engineer,Medical Knowledge Group,NaN,0.0,0,Full-time,Remote,8 days ago,ONE,1,...,True,368864426.0,False,501562,False,True,NaN,NaN,Active 3 days ago,NaN
4,"Cloud Engineer (Software Engineer Advanced, Ex...",Federal Reserve Bank of New York,NaN,4.1,548,Full-time,"Kansas City, MO",2 days ago,NaN,NaN,...,False,NaN,False,1439,False,False,NaN,/cmp/Federal-Reserve-Bank-of-New-York,NaN,NaN

In [5]:
# Get information about columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58433 entries, 0 to 58432
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  58433 non-null  object
 1   company                58430 non-null  object
 2   salary                 18103 non-null  object
 3   rating                 58433 non-null  float64
 4   review_count           58433 non-null  int64
 5   types                  42577 non-null  object
 6   location               58433 non-null  object
 7   relative_time          58433 non-null  object
 8   hires_needed           11857 non-null  object
 9   hires_needed_exact     18439 non-null  object
 10  urgently_hiring        58433 non-null  bool
 11  remote_work_model      22804 non-null  object
 12  snippet                58425 non-null  object
 13  dradis_job             58433 non-null  bool
 14  link                   58433 non-null  object
 15  new_job                58433 non-null  bool
 16  job_link               58433 non-null  object
 17  sponsored              58433 non-null  bool
 18  featured_employer      58433 non-null  bool
 19  indeed_applyable       58433 non-null  bool
 20  ad_id                  23626 non-null  float64
 21  remote_location        58433 non-null  bool
 22  source_id              58433 non-null  int64
 23  hiring_event_job       58433 non-null  bool
 24  indeed_apply_enabled   58433 non-null  bool
 25  job_location_postal    26121 non-null  float64
 26  company_overview_link  36295 non-null  object
 27  activity_date          13801 non-null  object
 28  location_extras        11450 non-null  object
dtypes: bool(9), float64(3), int64(2), object(15)
memory usage: 9.4+ MB